<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        
      </ion-buttons>
      <ion-title style="text-align: center;">
          REPUESTOS
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content src="">
      <ion-card center><br>
      

          <ion-item>
            <ion-input type="text" placeholder="ingrese info de repuesto" color="primary"></ion-input><br>
          </ion-item>
    
          <ion-item>
              <ion-input type="text" placeholder="Sr. Usuario, su repuesto tiene un costo de $120.500 Metodos de pago:"></ion-input><br>
            </ion-item>
          
          <ion-item>
            <ion-input type="password" placeholder="confirmacion de pago ingrese direccion de envio"color="primary"></ion-input><br><br>
          </ion-item>
    
          <ion-item>
              <ion-input type="password" placeholder="Repuesto enviado satisfactoriamente"></ion-input><br><br>
            </ion-item>
          
          <div class="centrado">
           <ion-button type="submit" color="primary" shape="round" href="">Enviar</ion-button><br>
      </div>
       


      </ion-card>
    
  </ion-content>