<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        
      </ion-buttons>
      <ion-title style="text-align: center;">
          INGRESO
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content src="">
     <ion-card center><br>
        <ion-img src="/assets/usuario.jpg" class="image-tam"></ion-img><br>
        <ion-item>
        <ion-input type="text" placeholder="nombre de usuario"></ion-input><br>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="contraseña"></ion-input><br><br>
      </ion-item>

    <div class="centrado">
       <ion-button type="submit" color="primary" shape="round" href="tabs/tab2">INGRESAR</ion-button><br>
      
       <ion-button type="submit" color="primary" shape="round" href="">registrarse</ion-button><br><br>
   </div>
      </ion-card>
  
       
  </ion-content>
